table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
}


th,
td {
  border: 2px solid black;
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
